.prius-tab__container {
  width: auto;
}
.prius-tab__container.item {
  text-transform: none;
  margin: 0 2.5px;
  font-family: Metropolis;
  font-size: 10px;
  min-width: auto !important;
  box-sizing: border-box;
}

.prius-tab__dropdown-default {
  color: #c8c8c8;
  padding: 10px 20px;
}

.prius-tab__dropdown {
  font-weight: bold;
  color: #444444;
  cursor: pointer;
  padding: 10px 20px;
}
.prius-tab__dropdown:disabled {
  cursor: auto;
  color: #c8c8c8;
}
.prius-tab__dropdown:hover {
  background-color: #ededed;
}
.prius-tab__dropdown:hover:disabled {
  background-color: transparent;
}

.prius-tab__input.price {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  width: 186px;
  height: 40px;
}
.prius-tab__input.price.invalid {
  border: solid 1px #ff647c;
}

.no-selectedValue {
  height: 100px;
  padding-top: 100px;
  text-align: center;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  margin-top: -1px;
}

.MuiTab-wrapper {
  font-weight: normal;
  font-size: 13px;
}

.PrivateTabIndicator-colorSecondary-409 {
  height: 4px !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #46adf4 !important;
}
