@import "./global.scss";
@import "./fonts";

#root {
  width: 100%;
}

.prius-form__button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 56px;
  background-color: #eeeeee;
}

.prius-form__button button {
  right: 20px;
  bottom: 10px;
}
