.prius-table-card__header {
  color: rgba(0, 0, 0, 0.87);
  font-size: 10px;
  font-weight: bold;
  padding: 10px 25px;
  background: transparent; }

.prius-table-card__header-border {
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px; }

.prius-table-card__body {
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff; }
  .prius-table-card__body img {
    width: 42px; }
  .prius-table-card__body.non-active {
    opacity: 0.4; }

.prius-table-card__sub-text {
  clear: both;
  font-size: 10px;
  color: #898989; }

.prius-table-card__body-dropdown {
  background-color: #ffffff; }

.prius-table-card__flex {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  vertical-align: middle;
  align-items: center;
  padding: 18px 7px; }

.prius-table-card__dropdown-card {
  padding: 18px 7px;
  background-color: #ffffff; }

.prius-table-card__icon-sort {
  font-size: 0.8125rem !important;
  margin-left: 0.6rem;
  vertical-align: text-bottom;
  cursor: pointer; }

.prius-table-card__active-sort {
  border-radius: 11.5px;
  background-color: #f4f4f4;
  padding: 8px;
  cursor: pointer; }

@media only screen and (max-width: 1299px) {
  .prius-table-card__vertical-line-progress,
  .prius-table-card__horizontal-line-progress {
    display: none; } }

@media only screen and (min-width: 1300px) {
  .prius-table-card__vertical-line-progress {
    margin-top: -16px;
    position: absolute;
    border: none;
    border-right: 1px solid #eeeeee; }
  .prius-table-card__horizontal-line-progress {
    width: 10px;
    position: absolute;
    border: none;
    border-top: 1px solid #eeeeee;
    margin-top: -1px; } }

.prius-table-card__cursor.isButton {
  cursor: pointer; }

.prius-card__container {
  background-color: white;
  box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.28);
  padding: 20px 0px;
  outline: none;
  border-radius: 5px;
  height: auto;
  width: 372px; }

.prius-card__item {
  padding: 10px 30px; }
  .prius-card__item:hover {
    background-color: #f6f6f6; }
  .prius-card__item:active {
    background-color: #f6f6f6; }
  .prius-card__item.product {
    background-color: #f6f6f6; }
  .prius-card__item.variant {
    width: auto;
    background-color: #f6f6f6; }

.prius-card__unhovered {
  padding: 10px 30px; }

.prius-card__desc {
  font-size: 10px;
  color: #d7d7d7; }

.prius-card__add.header {
  display: inline-flex; }

.prius-card__add.text {
  align-self: center;
  font-weight: bold; }

.prius-card__add.dropdown {
  font-size: 20px;
  margin-top: 5px; }

.prius-card__add.leftside {
  display: flex;
  flex-direction: column; }

.prius-card__add.container {
  justify-content: space-between;
  display: flex; }

.prius-button__container {
  float: right; }
