.prius-upload-file__box {
  margin: 1rem 0;
  height: 216px;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: Metropolis, sans-serif;
  font-size: 13px;
  color: #444444;
}

.prius-upload-file__input {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.prius-upload-file__input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.prius-upload-file__img {
  margin-bottom: 20px;
  position: inherit;
}

.prius-upload-file__link {
  text-decoration: underline;
  cursor: pointer;
}

.prius-upload-file__error {
  color: #e02020;
}

.prius-upload-file__success {
  color: #1c9aea;
}
